.form-container {
  width: 40%;
  margin: 0 auto;
}

.new-post-container {
  margin-bottom: 20px;
}

.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
  padding-left: 1rem;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}
